{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}
{% block body_class %}specific-style
{% endblock %}
{% block body %}
	<nav aria-label="Main navigation"><!-- Ceci n'est pas du code mort mais un outils ! -->
		{# <div class="scroll-watcher"></div> #}
	</nav>
	<header class="header-scroll">
		<div id="home-wallpaper">
			<img id="home-wallpaper" src="{{ asset('build/images/tattoingStan.png') }}" alt="Stan's picture taking out a stencil">
		</div>
		<div class="header-content">
			<img src="{{ asset('build/images/white_logo.png') }}" alt="Logo de Stan Dottori">
			<a href="#menu" aria-label="Scroll down to biography">
				<i class="fa-solid fa-angles-down"></i>
			</a>
		</div>
	</header>
	<main>
		{% block menu %}
			<section id="menu" class="link-container">
				<h2 class="neonText" id="home-title">Welcome
				</h2>
				<div class="link" id="bio">
					<a href="{{path('app_biography') }}">Biography</a>
				</div>
				<div class="link" id="book">
					<a href="{{path('app_tattoo_index') }}">Book</a>
				</div>
				<div class="link" id="flash">
					<a href="{{path('app_flash_index') }}">Flash</a>
				</div>
				<div class="link" id="guest">
					<a href="{{path('app_guest_index') }}">Guest</a>
				</div>
				<div class="link">Youtube</div>
				<div class="link">Contact</div>
			</section>
		{% endblock %}
	</main>
	{% block javascript %}
		<script>
			document.addEventListener('DOMContentLoaded', (event) => {
document.body.style.backgroundImage = 'none';
});
		</script>
	{% endblock %}
{% endblock %}
