{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
	{% include 'home/_navbar.html.twig' %}
        <h1>{{ guest.city }}</h1>
	<div class="card">
		<a href="{{ path('app_guest_show', {'id': guest.id}) }}">
        <img src="{{ vich_uploader_asset(guest) }}" class="card-img-top" alt="{{ guest.id }}">
        
		<div class="card-body">
			<h5 class="card-title">{{ guest.shop }}</h5>
			<p class="card-text">du {{ guest.beginAt ? guest.beginAt|date('d-m-Y') : '' }} au {{ guest.endAt ? guest.endAt|date('d-m-Y') : '' }}</p>
		</div>
		<ul class="list-group list-group-flush">
		</ul>
	</div>
    <a href="{{ path('app_guest_index') }}">back to list</a>

    <a href="{{ path('app_guest_edit', {'id': guest.id}) }}">edit</a>

    {{ include('guest/_delete_form.html.twig') }}
{% endblock %}
