{% extends 'base.html.twig' %}

{% block title %}Tattoo index
{% endblock %}

{% block body %}
	{% include 'home/_navbar.html.twig' %}
	<h1 class="neonText" id="tattoo-index">Tattoos</h1>

    <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
	{% for tattoo in tattoos %}

    <div class="col">
		<div class="card">
			<a href="{{ path('app_tattoo_show', {'id': tattoo.id}) }}"><img id="tattoo" src="{{ vich_uploader_asset(tattoo) }}" class="card-img-top" alt="{{ tattoo.id }}"></a>
			<div class="card-body">
				<p class="card-text">
					<h6>{{ tattoo.madeOn ? tattoo.madeOn|date('d-m-Y') : '' }}</h6>
					<h6>{{ tattoo.price }}€</h6>
                    <h6><a href="{{ path('app_tattoo_show', {'id': tattoo.id}) }}">View more</a></h6>
				</p>
			</div>
		</div>
        </div>
	{% else %}
		<h3>No tattoo found !</h3>
	{% endfor %}
    </div>
{% endblock %}
