{% extends 'base.html.twig' %}

{% block title %}Tattoo index
{% endblock %}

{% block body %}
	{% include 'home/_navbar.html.twig' %}
	<h1 id="tattoo-index">Stan's Book</h1>

	{% for tattoo in tattoos %}
		<div id="card">
			<a href="{{ path('app_tattoo_show', {'id': tattoo.id}) }}"><img id="tattoo" src="{{ vich_uploader_asset(tattoo) }}" class="card-img-top" alt="{{ tattoo.id }}"></a>
			<div class="card-body">
				<p class="card-text">
					<h6>{{ tattoo.madeOn ? tattoo.madeOn|date('d-m-Y') : '' }}</h6>
					<h6>{{ tattoo.price }}€</h6>
				</p>
			</div>
		</div>
	{% else %}
		<h3>no records found</h3>
	{% endfor %}
	<br><a href="{{ path('app_tattoo_new') }}">Create new</a>
{% endblock %}
