{% extends 'base.html.twig' %}

{% block title %}Tattoo
{% endblock %}

{% block body %}
	{% include 'home/_navbar.html.twig' %}
	<div class="card">
		<a href="{{ path('app_tattoo_show', {'id': tattoo.id}) }}"><img src="{{ vich_uploader_asset(tattoo) }}" class="card-img-top" alt="{{ tattoo.id }}"></a>
		<div class="card-body">
			<h5 class="card-title">Tattoo name</h5>
			<p class="card-text">Description</p>
		</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item">Fait le {{ tattoo.madeOn ? tattoo.madeOn|date('d-m-Y') : '' }}</li>
			<li class="list-group-item">{{ tattoo.price }}€</li>
		</ul>
	</div>
	<a href="{{ path('app_tattoo_index') }}">back to list</a>
	<a href="{{ path('app_tattoo_edit', {'id': tattoo.id}) }}">edit</a>
	{{ include('tattoo/_delete_form.html.twig') }}
{% endblock %}
